.button {
  display: block;
  max-width: 200px;
  text-align: center;
  font-size: 1.2em;
  text-decoration: none;
  padding: 7px 12px;
  font-weight: 500;
  background: none;
  border: 2px solid #FF9100;
  border-radius: 15px;
  color: #FF9100;
  cursor: pointer;
}