.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 700px;
  margin: 0 auto;
}

.noItems {
  margin: 75px 0 50px;
  padding: 0 30px;
  text-align: center;
  font-size: 18px;
  color: #d1d1d1;
  line-height: 2;
}